{% extends 'shortener/base_generic.html' %}

{% block content %}
<h2>Your URLs</h2>
<ul>
    {% for url in urls %}
    <li>
        <p>Original: {{ url.original_url }}</p>
        <p>Short: 
            <a href="{% url 'urlshortener' short_url=url.short_url %}">
                {{ request.scheme }}://{{ request.get_host }}/{{ url.short_url }}
            </a>
        </p>
        <p>Visits: {{ url.times_visited}}</p>
        <a href="{% url 'delete_url' url.id %}">Delete</a>
    </li>
    {% empty %}
    <li>No URLs to display.</li>
    {% endfor %}
</ul>
{% endblock %}