{% extends 'shortener/base_generic.html' %}

{% block content %}
<h2 class="mb-3">Your URLs</h2>
<ul class="list-group">
    {% for url in urls %}
    <li class="list-group-item">
        <p>Original: {{ url.original_url }}</p>
        <p>Short: 
            <a href="{% url 'urlshortener' short_url=url.short_url %}">
                {{ request.scheme }}://{{ request.get_host }}/{{ url.short_url }}
            </a>
        </p>
        <p>Visits: {{ url.times_visited}}</p>
        <a href="{% url 'delete_url' url.id %}" class="btn btn-danger">Delete</a>
    </li>
    {% empty %}
    <li class="list-group-item">No URLs to display.</li>
    {% endfor %}
</ul>
{% endblock %}
