<!DOCTYPE html>
<html>
<head>
    <title>DjangoShrinkURL</title>
</head>
<body>
    <h1 class="mb-3">Shorten your URL</h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <input type="url" name="original_url" class="form-control" required>
        </div>
        <button class="btn btn-primary" type="submit">Shorten</button>
    </form>
    {% if url %}
        <p>Your short URL is: <a href="{{ url.short_url }}">{{ request.get_host }}/{{ url.short_url }}</a></p>
    {% endif %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
